/dot3D.swf
/inspiration
/test/build
/test/report
/src/QuickTest.hx
/doc
/bin/_save
/unit/report
/unit/bin
/dot3D.iml
/bin
/build/build.properties
/bak
/obj
/.gradle
/build/src
/build/res
/build
/res/main/*.max
/res/main/textures/viewcube.uvw
/res/main/textures/template.png
/diagram.ump
