/src/Main.hx
/src_test/Main.hx
/bin
/dotCore.swf
/test/build
/test/report
/unit/bin
/unit/report
/bak
/report
/build/build.properties
/dotCore.iws
/dotCore.iml
/dotCore.ipr
/.gradle
/build/res
/build/src
/build
